<!DOCTYPE html>

<html ng-app="app">
<head>
    <title>Cejen</title>
    <meta charset="utf-8" />

    @Styles.Render("~/Content/css")
    <script src="~/Scripts/jquery-1.11.2.min.js"></script>
    <script src="~/Scripts/jquery.scrollUp.min.js"></script>
    <script src="~/Scripts/parallax.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/video.js"></script>
    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("~/bundles/javascriptq")*@
    <script src="~/Scripts/util.js"></script>
    <script src="~/Scripts/jquery.poptrox.min.js"></script>
    <script src="~/Scripts/jquery.scrolly.min.js"></script>
    <script src="~/Scripts/jquery.singlePageNav.min.js"></script>

    @Scripts.Render("~/bundles/app/app-angular")
    @Scripts.Render("~/bundles/app/dataServices")
    @Scripts.Render("~/bundles/app")


</head>

<body>
    <div>
        <div class="container">
            <div ng-view></div>
            @RenderBody()
        </div>
    </div>

    @RenderSection("scripts", required: false)


   


    
</body>
</html>
